<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-danger" [routerLink]="['/']">Molveno</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-info" [routerLink]="['/trip-reservation']"
          >Trip Reservation <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link text-info" [routerLink]="['/start-trip']"
          >Start Trip</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link text-info" [routerLink]="['/boat-management']"
          >Boat Management</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link text-info" [routerLink]="['/boattype-management']"
          >Boat-Type Management</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link text-info" [routerLink]="['/trips-overview']"
          >Trips Overview</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link text-info" [routerLink]="['/boats-overview']"
          >Boat Overview</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link text-info" [routerLink]="['/Trips-Management']"
          >Started Trip Management</a
        >
      </li>
    </ul>
  </div>
</nav> -->
