<div style="color: lightyellow">
  <nav
    class="navbar navbar-expand-lg navbar-dark "
    style="color: #CCF4FE; background-color: rgba(255, 255, 255, 0.288); "
  >
    <!-- <a class="navbar-brand text-danger" [routerLink]="['/']">Molveno</a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            class="nav-link"
            href="javascript:void(0)"
            (click)="this.startedTripMethod()"
            >End Started Trips <span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item active">
          <a
            class="nav-link"
            href="javascript:void(0)"
            (click)="this.endedTripsMethod()"
            >Edit Cost Ended Trips</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <div class="col" *ngIf="this.startedTrip">
    <h2>Edit Started Trips</h2>
    <div class="container">
      <form [formGroup]="form" (submit)="onFormSubmit()">
        <div class="form-group">
          <label>Select Trip*</label>
          <select formControlName="id" class="form-control">
            <option *ngFor="let trip of trips" [ngValue]="trip.id">{{
              trip.id + '  ' + trip.status
            }}</option>
          </select>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form?.invalid"
        >
          Stop Trip
        </button>
        <br />
        <br />
        <div class="row" *ngIf="showMs" style="text-align: center">
          <div class="col-xs-12" style="display: inline-block">
            <p class="alert alert-success">
              <strong>Your modification has been applied successfully!</strong>
            </p>

            <button
              class="btn btn-primary btn-sm"
              (click)="showMessage()"
              (click)="onSlect(id)"
            >
              close
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col" *ngIf="this.endedTrip">
    <h2>Edit Cost For Ended Trips</h2>
    <div class="container">
      <form [formGroup]="form2" (submit)="onFormSubmit2()">
        <div class="form-group">
          <label>Select Trip*</label>
          <select formControlName="id" class="form-control">
            <option *ngFor="let trip of allEndedTrips" [ngValue]="trip.id">{{
              trip.id + '  ' + trip.status + '  costed  ' + trip.cost
            }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>New Cost*</label>
          <input
            placeholder="trip.cost"
            class="form-control"
            type="number"
            formControlName="cost"
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form2?.invalid"
        >
          Submit
        </button>
        <br />
        <br />
        <div class="row" *ngIf="showMs1" style="text-align: center">
          <div class="col-xs-12" style="display: inline-block">
            <p class="alert alert-success">
              <strong>Your modification has been applied successfully!</strong>
            </p>

            <button class="btn btn-primary btn-sm" (click)="onSlect(id)">
              close
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
